aside{
    height: 225px;
    width: 100%;
    img{
        object-fit: cover;
        width: 100%;
        height: 320px;
        @media screen and (min-width: $breakpoint-desktop){
            object-position: 10% 60%;
        }
    }
}